<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>web</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="css/index.css"/>
</head>
<body>
<div>
<div style="text-align: center; margin-top: 6%;">
	        <form id="uploadForm" method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <input type="button" id="uploadBtn" value="上传"/>
        </form>
	</div>
</div>
<script type="text/javascript" src="js/static/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/static/knockout-min.js"></script>
<script type="text/javascript" src="js/static/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="js/main/imagePage.js"></script>
</body>
</html>
