<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.manual.ExtMenuMapper">
  <resultMap id="BaseResultMap" type="com.demo.dao.manual.entity.ExtMenu">
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="request_url" property="requestUrl" jdbcType="VARCHAR" />
    <result column="show_order" property="showOrder" jdbcType="BIGINT" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 菜单画面左侧Menu List的表示 -->
  <select id="selectMenuTree" resultMap="BaseResultMap">
	    SELECT M.MENU_NAME, M.REQUEST_URL, M.COMMENTS,  M.SHOW_ORDER, RM.MENU_ID,
	           M.PARENT_ID, M.CREATE_TIME, M.CREATE_USER, M.UPDATE_TIME, M.UPDATE_USER
	      FROM M_MENU M
	INNER JOIN T_ROLE_MENU RM ON M.ID = RM.MENU_ID
	INNER JOIN T_USER_ROLE UR ON UR.ROLE_ID = RM.ROLE_ID
	       AND UR.USER_ID = #{userId,jdbcType=BIGINT}
	ORDER BY M.SHOW_ORDER
  </select>

</mapper>